name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: todo-app-k8s-lab # Utilise le nom de ton dépôt

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Nécessaire pour le push sur GHCR

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        [cite_start]run: mvn clean package -DskipTests [cite: 31]
        working-directory: ./api

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image (using short SHA as tag)
        run: |
          cd api
          # Construire l'image [cite: 33]
          docker build -t ghcr.io/${{ github.repository }}:$(git rev-parse --short HEAD) .
          # Pousser l'image [cite: 35]
          docker push ghcr.io/${{ github.repository }}:$(git rev-parse --short HEAD)
