name: CI/CD Pipeline - API Build

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Build with Maven
        run: mvn clean package -DskipTests
        working-directory: ./api 

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        run: |
          TAG=$(git rev-parse --short HEAD)
          IMAGE_PATH=ghcr.io/${{ github.repository }}:$TAG
          
          # Construire l'image : le Dockerfile est dans './api'
          docker build -t $IMAGE_PATH ./api
          
          # Pousser l'image
          docker push $IMAGE_PATH