name: CI/CD Pipeline - Dernier Fix Chemin

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  API_DIR: api 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: 'code' 

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Build with Maven
        run: mvn clean package -DskipTests
        working-directory: code/${{ env.API_DIR }} 

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        run: |
          TAG=$(git rev-parse --short HEAD)
          IMAGE_PATH=ghcr.io/${{ github.repository }}:$TAG
          
          # Le contexte de construction est 'code/api/'
          docker build -t $IMAGE_PATH ./code/${{ env.API_DIR }}
          
          docker push $IMAGE_PATH